<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>UILaunchStoryboardName</key>
        <string>Launch Screen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSExceptionDomains</key>
            <dict>
                <key>amazonaws.com</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionMinimumTLSVersion</key>
                    <string>TLSv1.0</string>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>cloudfront.net</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionMinimumTLSVersion</key>
                    <string>TLSv1.0</string>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
            </dict>
        </dict>
        <key>AWS</key>
        <dict>
            <key>PushManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>SNSConfiguredTopics</key>
                    <array>
                        <string>arn:aws:sns:us-east-1:274814365898:tutortonight_alldevices_MOBILEHUB_1959870186</string>
                        <string/>
                    </array>
                    <key>Region</key>
                    <string>us-east-1</string>
                    <key>SNSPlatformApplicationARN</key>
                    <string>arn:aws:sns:us-east-1:274814365898:app/APNS/tutortonight_MOBILEHUB_1959870186</string>
                </dict>
            </dict>
            <key>IdentityManager</key>
            <dict>
                <key>Default</key>
                <dict/>
            </dict>
            <key>CloudLogic</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>ContentManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>S3Bucket</key>
                    <string>tutortonight-contentdelivery-mobilehub-1959870186</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>MobileAnalytics</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>AppId</key>
                    <string>cf3034b657c848c0a88d86b66cb6baa2</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>CredentialsProvider</key>
            <dict>
                <key>CognitoIdentity</key>
                <dict>
                    <key>Default</key>
                    <dict>
                        <key>PoolId</key>
                        <string>us-east-1:a970a212-22bf-4cd8-b2f8-234757ecd563</string>
                        <key>Region</key>
                        <string>us-east-1</string>
                    </dict>
                </dict>
            </dict>
            <key>Cognito</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>MobileHub</key>
            <dict>
                <key>ProjectClientId</key>
                <string>MobileHub 2433230c-9bfa-4269-922d-f782b1f8cfc6 aws-my-sample-app-ios-swift-v0.4</string>
            </dict>
            <key>UserFileManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>S3Bucket</key>
                    <string>tutortonight-userfiles-mobilehub-1959870186</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
